<div style="text-align: center;">
  <% @order.order_details.each do |detail| %>
    <h3><%= detail.match.name %></h3>
    <h4><%= detail.hash_key %></h4>
    <%= image_tag detail.qr_code_file_name %>
  <% end %>
</div>

